In [ ]:
# Basic imports
import numpy as np
import pandas as pd

# Projects modules
import methods.model as model
import methods.dists as dists
from batch_runner import run_simulation, create_parameter_grid

In [2]:
# Parameters definitions

rng = np.random.default_rng(seed=42)

params = {
    "s": 5,
    "spending_rate": ("uniform", [0, 1], lambda N: rng.uniform(1e-16, 1, N)),
    "initial_balance": ("constant", [1000], lambda N: 1000 * np.ones(N)),
    "decimals": 3,
    "copula": ("joe", 3.15, False),
    "activity_distribution": ("powlaw", [1.85, 1, 1838], lambda unif: dists.powlaw_ppf(1.85, 1, 1838)(unif)),
    "attractivity_distribution": ("powlaw", [1.87, 1, 2118], lambda unif: dists.powlaw_ppf(1.87, 1, 2118)(unif)),
    "N": 500,
    "T": 50,
    "D": 50 / 43706315,  # dummy
    "SIZE_SCALE": 1,
    "LENGTH_SCALE": 6,
    "MEAN_IET": 43706315,
    "burstiness": 0.5,
}

In [ ]:
nodes_df.

In [ ]:
# Run the simulation with the example parameters

# Set how many last transactions to save (optional, can be params['T'])
saved = 20  

transactions_df, metadata, execution_time, nodes_df = run_simulation(params, saved=saved)

# Show outputs
print(f"Simulation completed in {execution_time:.2f} seconds")
print("Transactions sample:")
display(transactions_df.head())

print("Nodes sample:")
display(nodes_df head())

print("Metadata:")
print(metadata)

Simulation completed in 0.07 seconds
Transactions sample:

      timestamp  source  target   amount source_bal target_bal
0  29146.198628       0     188  552.524    447.476   1552.524
1  28371.458037     245     413  944.427     55.573    948.701
2  27993.113057     377     466  457.422    542.578    977.695
3  26846.650414     480     427  307.917    692.083   5624.361
4  26311.149709     214     240   27.422      0.680   1027.422

Nodes sample:

   index    act_pot    att_pot           act       att       spr         iet
0      0   9.329469  12.248490  2.134582e-07  0.002269  0.773956  (0.5, 0.5)
1      1   1.264293   1.866474  2.892701e-08  0.000346  0.438878  (0.5, 0.5)
2      2  43.739573  49.018499  1.000761e-06  0.009081  0.858598  (0.5, 0.5)
3      3   1.311897   1.401092  3.001620e-08  0.000260  0.697368  (0.5, 0.5)
4      4   7.327822   4.759337  1.676605e-07  0.000882  0.094177  (0.5, 0.5)

Metadata:
{'sprate_type': 'uniform', 'sprate_params': [0, 1], 'inbal_type': 'constant', 'inbal_params': [1000], 'activity_type': 'powlaw', 'activity_params': [1.85, 1, 1838], 'attractivity_type': 'powlaw', 'attractivity_params': [1.87, 1, 2118], 'N': 500, 'T': 50, 'D': 1.1439994426434715e-06, 's': 5, 'decimals': 3, 'SIZE_SCALE': 1, 'LENGTH_SCALE': 6, 'MEAN_IET': 43706315, 'burstiness': 0.5, 'copula_type': 'joe', 'copula_param': 3.15}